@font-face{
    font-family: 'Pretendard';
    src: url(../font/PretendardVariable.woff2);
}

@font-face{
    font-family: 'MapoDPP';
    src: url(../font/MapoDPP.woff);
}

@font-face{
    font-family: 'S-Core';
    src: url(../font/S-CoreDream-3Light.woff2);
}