@media all and (min-width:1280px){
    .mo{display: none;}
    .pc{display: block;}

    body{
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        overflow-x: hidden;
    }

    body.bg{
        background-color: #f0f0f0;
        transition: background 1s;
    }

    body::-webkit-scrollbar{
        width: 10px;
    }

    body::-webkit-scrollbar-thumb{
        height: 30%;
        background: #217af4; /* 스크롤바의 색상 */
        border-radius: 10px;
    }

    body::-webkit-scrollbar-track{
        background: rgba(33, 124, 244, .1);
    }


    .wrap{
        width: 1280px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }

    header.on{
        background-color: transparent;
        color:#fff;
    }

    header.non-bg{
        background-color: rgba(255,255,255,0.1);
        color: #363636;
    }
    header{
        align-items: center;
        width: 100%;
        height: 100px;
        font-family: 'MapoDPP';
        transition: background 0.5s;
    }

    .hWrap{
        width: 1280px;
        height:100px;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }
    
    header h1{
        text-align: center;
        padding-top: 20px;
        width: 160px;
        height: 60px;
    }
    
    header h1 img{
        width: 100%;
    }
    nav{
        display:block;
        background-color:transparent;
        backdrop-filter:unset;
        border:0;
        padding:0;
        font-size:1.5rem;
        box-shadow: none;
        width: 40%;
        margin-top: 35px;
        position: inherit;
    }
    
    nav div{
        transform: unset;
        transition: unset;
    }

    nav a{
        margin-right: 60px;
        transition: color 0.5s;
    }
    .navOpen{
        display:none;
    }

    .menu a:hover{
        color: #2E82FF;
    }

    .cursor{
        position: fixed;
        top: -10px;
        left: -9px;
        pointer-events: none;
        z-index: 999;
    }
    
    .custom{
        position: absolute;
        width: 20px;
        height: 20px;
        pointer-events: none;
        z-index: 999;
        background-color: #2E82FF;
        border-radius: 50%;
    }

    .custom.active{
        position: absolute;
        pointer-events: none;
        z-index: 999;
        transform: scale(3.2);
        opacity: 50%;
        background-color: inherit;
        border: 1px solid #2E82FF;
    }
    

    /* s1 */
    .s1{
        height: 100vh;
    }
    
    .s1 .wrap{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .s1 .txt{
        margin-top: 100px;
        position: relative;
    }
    
    .s1 .tit-wrap .text{
        line-height: 5rem;
    }
    
    .tit-box{
        display: flex;
        align-items: center;
    }
    .s1 .tit-box span{
        font-family: 'MapoDPP';
        color: #ffffff; /* 변경 */
        font-size: 9.5rem;
    }
    
    .kr-txt{
        font-size: 1.75rem;
    }
    .s1 .en-txt{
        margin-top: 12px;
        line-height: 1.125rem;
        font-size: 1rem;
        font-family: 'S-Core';
        position: absolute;
        top: 10px;
        right: 30px;
    }
    
    .round {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent; /* 변경   */
        margin-left: 1vw;
        margin-top: 3vh;
      }
      
      .ani {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11.5rem;
        height: 11.5rem;
        border-radius: 50%;
        animation: ani 4s infinite ease-in;
      }
      @keyframes ani {
        100% {
          transform: rotate(360deg);
        }
      }
      
      .ani_dot {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
      }
      
      .ani_dot:nth-child(1) {
        background-color: #F1968E;
        animation: dot1 2s infinite alternate ease-in;
        /*transform: translateY(-300%);*/
      }
      @keyframes dot1 {
        0% {
        }
        100% {
          transform: translateY(-300%) scale(2);
        }
      }
      
      .ani_dot:nth-child(2) {
        background-color:#B7F8A2;
        animation: dot2 2s infinite alternate ease-in;
      }
      @keyframes dot2 {
        0% {
        }
        100% {
          transform: translateX(calc(0.85 * 300%)) translateY(calc(0.5 * 300%))
            scale(2);
        }
      }
      
      .ani_dot:nth-child(3) {
        background-color: #777CF7;
        animation: dot3 2s infinite alternate ease-in;
      }
      @keyframes dot3 {
        0% {
        }
        100% {
          transform: translateX(calc(0.85 * -300%)) translateY(calc(0.5 * 300%))
            scale(2);
        }
      }

      .s1 .bis01{background-size: 100% auto;} /* 변경 */
    .s1 .bis02{background-size: 100% auto;} /* 변경 */
    .s1 .bis03{background-size: 100% auto;} /* 변경 */
    .s1 .bis04{background-size: 100% auto;} /* 변경 */
    .s1 .bis05{background-size: 100% auto;} /* 변경 */
    .s1 .bis06{background-size: auto 100%;} /* 변경 */
      /* s1 */

    /* s2 */
    .s2{
        height: 100vh;
        overflow-y: hidden;
    }

    .s2 .en-txt{
        font-size: 1rem;
        position: absolute;
        top: 7.5%;
        left: 17%;
        line-height: 1.5rem;
    }
    .s2 .slider .txt-slider{
        top: 30%;
    }
    .s2 .layout-wrap{
        top: 10%;
        left: 40%;
        width: 425px;
        height: 300px;
        overflow: hidden;
    }
    .s2 .arr{
        margin: 12px 0 0 24px;
        width: 100px; 
        height: 100px;
        background-size: 99px 99px;
    }
    .s2 .slider .img-slider{
        width: 464px;
        height: 750px;
        top: -110%;
    }
    .s2 .img-slider>div p{
        font-size: 1.75rem;
        bottom: 24px;
        right: 24px;
        font-weight: 300;
    }
    .s2 .txt-slider .slider-article,
    .s2 .swiper-pagination,
    .s2 .swiper-pagination-current{
        font-family: 'MapoDPP';
        font-size: 3rem;
    }
    .s2 .swiper-pagination-total{
        font-size: 1rem;
        margin: 8px 0 0 24px;
    }
    .s2 .slider-arr{
        top: 88%;
        width: 30px;
        height: 30px;
    }
    .s2 .swiper-button-next{right: 60%;}
    .s2 .swiper-button-prev{left: 20%;}

    /* s2 */
    
      /* s3 */
    .s3{
        margin-top: 0;
        height: 100vh;
        padding-top: 0;
    }

    .s3 .wrap{
       display: flex;
       align-items: center;
    }
    
    .s3 .arr{
        display: block;
        margin-left: 3vw;
        width: 210px;
        height: 210px;
        background: url(../images/2arrow.png) repeat-x;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center 60px;
    }

    .s3 .txt{
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    
    .s3 .tit-wrap{
        line-height: 9.15rem;
        margin-left: 70px;
    }
    
    .s3 .text{
        line-height: 8rem;
        font-size: 8.125rem;
    }
    
    .s3 .text span{
        text-indent: 320px;
    }
    
    .s3 .tit-box span{
        font-size: 9.5rem;
    }
    
    .s3 .kr-txt{
        margin-top: 1rem;
        margin-left: 75px;
    }

    .s3 .en-txt{
        position: absolute;
        top: 7%;
        right: 37%;
        font-size: 1rem;
        line-height: 1.13rem;
    }
    /* s3 */

    /* s4 */

    .s4{
        padding-top: 0;
        height:300vh;
    }
    .s4 .wrap{
        width: 100vw;
        padding: 0;
    }
    .s4 .project{
        display: flex;
    }
    .s4 .project .bg{
        display: block;
        width: 960px;
        height: 100vh;
        background: url(../images/Urbanregeneration.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center -450px;
    }

    .s4 .safe .bg{
        display: block;
        width: 1000;
        height: 100vh;
        background: url(../images/safejeonse.jpg);
        background-size: 150%;
        background-repeat: no-repeat;
        background-position: -300px;
    }
    
    .s4 .pWrap{
        padding-left: 12px;
        padding-right: 12px;
        /* padding-top: 9.416rem; */
        padding-bottom: 20px;
        width: 671px;
        height: 748px;
        /* box-shadow: 4px 5px 5px hsl(0deg 0% 0% / 0.15);
        backdrop-filter: blur(120px);
        background-color: rgb(255, 255, 255, 0.6); */
        margin-left: -40px;
        border-radius: 15px;
        margin-top: 85px;
        background: rgba( 255, 255, 255, 0.15 );
        backdrop-filter: blur( 4.5px );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        -webkit-backdrop-filter: blur(4.5px);

    }

    .s4 .txt-box{
        margin-left: 60px;
        padding-top: 60px;
        position: relative;
        z-index: 999;
    }

    .s4 .project{
        box-shadow:none;
        border-radius: 2vw;
        position: inherit;
    }
    
    #safe{
        margin-top: 0;
    }
    
    .s4 .project h2{
        font-size: 3rem;
        font-weight: normal;
        color: #2E82FF;
        font-family: 'MapoDPP';
        padding-top: 0;
    }
    .s4 .project h2 span{
        font-size: 1.75rem;
        color: #aaa;
        display: inline;
        padding-left: 12px;
    }
    .s4 .project .sub{
        font-size: 0.875rem;
        margin-top: 12px;
    }
    .s4 .project h3{
        font-size: 1.75rem;
        font-weight: normal;
        color: #2E82FF;
        font-family: 'MapoDPP';
        margin-top: 15px;
    }
    .s4 .project .main{
        
    }
    
    .s4 .project .main p{
        font-size: 1rem;
        margin-top: 27px;
    }

    .s4 .project .main p:first-child{
        margin-top: 15px;
    }

    .s4 button{
        width: 200px;
        height: 50px;
        background-color: #2E82FF;
        border-radius: 10px;
        margin-top: 48px;
        display: inline;
        margin-left: 280px;
    }

    .s4 button .box .arrow{
        width: 16px;
    }

    .s4 .urban{
        margin-top: 95px;
    }
  
    .s4 button .box p{
        font-size: 1.375rem;
        font-weight: 550;
    }
    
    .s4 button .box .site{
        font-size: 0.875rem;
        font-weight: 550;
        padding-top: 3px;
        padding-left: 3px;
    }
    
    .s4 .safe h2{color: #FFAB2E;}
    .s4 .safe h3{color: #FFAB2E;}
    .s4 .safe button{background-color: #FFAB2E;}

    .s4 .pro h2{
        display: flex;
        align-items: baseline;
        font-size: 4rem;
        padding-top:100px;
    }
    .s4 .pro h3 span{
        font-size: 4rem;
        margin-left: 12px;
    }
    .s4 .main2{
        height: 550px;
    }
    .s4 .office-img-slider{
        top: 25%;
    }
    .s4 .ois-arr{
        top: 20%;
        width: 30px;
        height: 30px;
    }
    .s4 .swiper-pagination,
    .s4 .swiper-pagination-current{
        font-family: 'MapoDPP';
        font-size: 3rem;
    }
    .s4 .swiper-pagination-total{
        font-size: 1rem;
        margin: 8px 0 0 24px;
    }
    .s4 .ois-arr-prev{
        left: 79%;
    }
    .s4 .ois-arr-next{
        right: 11%;
    }

    .s4 .oWrap{
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
    
    /* s4 */

    /* s5 */
    .s5{
        height: 100vh;
        padding-top: 120px;
        box-sizing: border-box;
    }

    .s5 h2{
        font-size: 5.625rem;
        margin-top: 120px;
    }

    .s5 .wrap{
    }

    .s5 .sub{
     
    }
    .s5 .sub p{
        font-size: 8rem;
        padding-left: 20px;
        padding-right: 20px;
    }

    .s5 .sub .ns{
        font-size: 6rem;
    }

    .s5 .add{
    }

    .s5 .add h3{
        font-size: 1.75rem;
    }

    .s5 .add h4{
        font-size: 1.375rem;
        margin-top: 24px;
    }

    .s5 .add p{
        font-size: 1.25rem;
    }

    .s5 .contact{
        font-size: 1.375rem;
    }

    .s5 .contact h3{
        font-size: 1.75rem;
    }

    .s5 .contact .con{
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
    }
    .s5 .contact .box{
        display: flex;
    }
    .s5 .contact .box .item{
        width: 25px;
        padding-top: 2px;
    }
    
    .s5 .contact .box .mess{
        width: 25px;
        padding-top: 2px;
    }
    
    .s5 .contact .box .item img{
        width: 100%;
    }

    .s5 .contact .box p{
        margin-left: 6px;
    }

    .s5 .contact .box:last-child{
        margin-left: 108px;
    }

    .s5 .under .down{
       display: none;
    }

    .s5 .con .down{
        width: 260px;
        height: 60px;
        border: 2px solid #363636;
        border-radius: 10px;
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 1.375rem;
        font-family: 'Pretendard';
        margin-top: -35px;
        cursor: pointer;
    }
    
    .s5 .con .down p{
        padding-left: 24px;
        display: block;
    }
    .s5 .con .down .d-arrow{
        width: 20px;
        padding-left: 4px;
    }
    .s5 .con .down .d-arrow img{
        width: 100%;
    }


    .s5 .under{
        justify-content: right;
    }
    .s5 .under .priv{
        display: flex;
        text-align: right;
        font-size: 1.375rem;
        padding-top: 0;
    }

    .s5 .under .priv span{
        padding-left: 5px;
        padding-right: 5px;
    }

    .s5 .u-box{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 0px;
    }
    
    .s5 .copy{
        font-family: 'S-core';
        font-size: 1.25rem;
        font-weight: 600;
        text-align: right;
    }

    .s5 .s-core{
        font-size: 0.625rem;
        margin-top: 10px;
    }
    /* s5 */
}/* 1280px */